html {
  font-size: 68.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1c1e26;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
}

h2 {
  color: #1cb3bc;
  font-size: 3rem;
  font-weight: 600;
}

h3{
  color: #1cb3bc;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #b75be8;
}

p a{
  color: #000;
    text-decoration: none;
    background-color: #B75BE8;
}

p a:hover{
  color: #000;
  background-color: #E95378;
}


ul {
  display: flex;
  padding: 0;
}

li {
  display: list-item;
  list-style: none;
}

li a {
  padding: 0 1em 0 0;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

img {
  width: 620px;
  height: 620px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1024px) {
  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 30em;
    object-fit: cover;
    object-position: center;
  }

  nav {
    display: none;
  }
}

@media (max-width: 768px) {

  .one,
  .two,
  .three {
    background: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  .menu.on {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #272c35;

    width: 100vw;
    height: 100vh;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu.on nav {
    display: block;
  }

  .menu.on .menu-toggle {
    position: absolute;
    right: 26px;
    top: 26px;
  }

  .menu.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu.on .menu-toggle .two {
    opacity: 0;
  }

  .menu.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu.on nav ul {
    text-align: center;
    display: block;
  }

  .menu.on nav ul a {
    transition-duration: 0.5s;
    font-size: 4rem;
    line-height: 4rem;
    display: block;
    margin-bottom: 2.3em;
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 28rem;
    object-fit: cover;
    object-position: center;
  }
}
